<form method="GET" action="/cryptids">
  <label for="nameFilter">Filter by Name</label>
  <input id="nameFilter" type="text" name="nameFilter" />
  <input type="submit" />
</form>
<ul>
  <% cryptids.forEach((cryptid) => { %>
  <li>Here is <%= cryptid.name %>!</li>
  <ul>
    <li><img src="<%= cryptid.img_url %>" /></li>
  </ul>
  <% }) %>
</ul>
